name: My First GitHub Actions pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the code on runner machine
      uses: actions/checkout@v4

    - name: Run random commands
      run: |
        ls -al
        whoami
        hostname
        pwd
        echo "End of the line" 
    
    - name: SSH to EC2 instance
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_KEY }}
        port: 22
        script: |
          whoami
          hostname
          echo "End of SSH Script on EC2"


